#feedbackForm ul {
    text-align: left;
    margin: .5em 0;
    padding-left: .5em;
}

#feedbackForm ul {
    display: flex;
    flex-wrap: wrap;
}

#feedbackForm li {
    margin: .5em;
    display: block;
}

#feedbackForm textarea {
    width: 100%;
}

#feedbackForm input {
    width: 100%;
}

#feedbackForm {
    text-align: center;
}
