<div class="upperLeft">
    <a class="action-button" routerLink="/games" data-tooltip="Home">
        <span class="glyphicon glyphicon-home"></span>
    </a>
</div>
<menu></menu>
<h2>Thanks!</h2>
<p>
    Your support helps me to keep making this site more awesome.
</p>
<p>
    It may sound trite, but every person that shows that they believe in my work is like having another person beside me with a chainsaw during a zombie apocalypse, or a cleric behind me with a cure spell when I am trying to check for traps, or a dude operating the teleporter to snatch me off of the planet if the locals try to skewer me with spears... you get the idea.
</p>
<p>
    What I'm really trying to say is that I really appreciate your contribution. I could keep working on this site without supporters like you, but it wouldn't be nearly as good, nor would it be nearly as fun.
</p>
<h3>You rock!</h3>