<div id="list-component">
    <div *ngIf="game" class="upperLeft">
        <a routerLink="/detail/{{game.id}}" class="action-button" data-tooltip="Return to Game">
            <span class="glyphicon glyphicon-pawn"></span>
        </a>
    </div>
    <menu></menu>

    <h3 *ngIf="game">Feedback for {{game.name}}</h3>
    <div *ngFor="let feedback of feedbacks | async"
         (click)="gotoFeedback(feedback.id)" class="search-result">
        <feedback-stats [feedback]="feedback"></feedback-stats>
    </div>
</div>
