<div class="editGame" *ngIf="game">
  <div class="upperLeft">
    <a class="action-button" routerLink="/games" data-tooltip="Home">
      <span class="glyphicon glyphicon-home"></span>
    </a>
  </div>

  <div *ngIf="message" [ngClass]="messageActive">{{message | async}}</div>

  <div class="left">
    <fieldset>
      <legend>Edit Game</legend>
      <div class="form-group">
        <label for="gameName">Title:</label>
        <input class="form-control" id="gameName" (ngModelChange)="onChange($event)" [(ngModel)]="game.name">
      </div>
      <div class="form-group"><label for="gameMinPlayerCount">Min player count:</label><input type="number" class="form-control" id="gameMinPlayerCount" (ngModelChange)="onChange($event)" [(ngModel)]="game.minPlayerCount" min="0"></div>
      <div class="form-group"><label for="gameMaxPlayerCount">Max player count:</label><input type="number" class="form-control" id="gameMaxPlayerCount" (ngModelChange)="onChange($event)" [(ngModel)]="game.maxPlayerCount" min="0"></div>
      <div class="form-group"><label for="gameMinTimeInMinutes">Min time in minutes:</label><input type="number" class="form-control" id="gameMinTimeInMinutes" (ngModelChange)="onChange($event)" [(ngModel)]="game.minTimeInMinutes" min="0"></div>
      <div class="form-group"><label for="gameMaxTimeInMinutes">Max time in minutes:</label><input type="number" class="form-control" id="gameMaxTimeInMinutes" (ngModelChange)="onChange($event)" [(ngModel)]="game.maxTimeInMinutes" min="0"></div>
      <div class="form-group"><label for="gameDescription">Description:</label><textarea class="form-control" id="gameDescription" (ngModelChange)="onChange($event)" [(ngModel)]="game.description"></textarea></div>
      <div class="form-group"><label for="gameComponents">Components:</label><textarea class="form-control" id="gameComponents" (ngModelChange)="onChange($event)" [(ngModel)]="game.components"></textarea></div>
      <div class="form-group">
        <h4>Files:</h4>
        <div class="detailBox">
          <div><label for="gameRulesUrl">Rules file:</label><input class="form-control" id="gameRulesUrl" (ngModelChange)="onChange($event)" [(ngModel)]="game.rulesUrl"></div>
          <div><label for="gamePnpUrl">PNP File:</label><input class="form-control" id="gamePnpUrl" (ngModelChange)="onChange($event)" [(ngModel)]="game.pnpUrl"></div>
        </div>
      </div>
      <div class="form-group"><label for="gameActive"><input class="form-check" id="gameActive" type="checkbox" name="isActive" (ngModelChange)="onChange($event)" [(ngModel)]="game.active" /> Is Active</label></div>
      <div class="form-group"><label for="gameVersion">Version</label><input class="form-control" id="gameVersion" [ngModel]="game.version" type="number" min="0" /></div>
      <div class="form-group"><label for="gamePriority">Priority</label><input class="form-control" disabled [ngModel]="game.priority" /></div>
    </fieldset>
    <div class="lowerRightBottom">
      <a class="action-button" (click)="saveGame()" data-tooltip="Save Game">
        <span [class.fa-spin]="this.saving" class="glyphicon glyphicon-floppy-disk"></span>
      </a>
    </div>
  </div>
</div>
