<div class="upperLeft">
    <a class="action-button" routerLink="/games" data-tooltip="Discard Game">
        <span class="glyphicon glyphicon-home"></span>
    </a>
</div>
<div class="tldr">
    <h2>About PlaytestHub</h2>
    <div>
        PlaytestHub was created by theTrueMikeBrown because he wanted a website
        that allowed people to playtest each other's games. The website strives to
        enable the fair playtesting of board games online, with players that help
        other players out getting the perk of placing their games higher on the
        list than other player's games.
    </div>
    <div>
        If you find any issues with this site, you can log them
        <a href="https://github.com/theTrueMikeBrown/PlaytestHub/issues">here</a>.
    </div>
    <h3>How to use PlaytestHub</h3>
    <div>
        In the upper right you will notice a menu. This is where most actions on
        the site can be taken. Hovering or longpressing on any icon button will
        tell you what it does.
    </div>
    <h4>To add a game</h4>
    <div>
        To add a game to the database, click menu on the game list then 'add game'.
        Fill out the info, and click the save button in the lower right corner.
    </div>
    <h4>To playtest a game</h4>
    <div>
        To playtest a game, navigate to the game's page. Download all of the game's
        assets. Click menu and then click 'playtest'. Wait for it to return you to
        the game list. Once it is done, you are now playtesting the game.
    </div>
    <div>
        Print up the parts of the game, play it at least once, and then go to the
        game list and select 'leave feedback'. Fill out the form as completely as
        possible, and then click submit at the bottom of the page.
    </div>
    <div>
        The moderator(s) will review your feedback, and if it is complete enough,
        they will accept it. If they reject your feedback, you will be notified via
        a message in the message center, and will be given a chance to correct it.
        The person that created the game will also be notified, and can accept the
        feedback if they desire to, however the person that created the game cannot
        reject feedback for their own game.
    </div>
    <h4>Priority and getting your games playtested</h4>
    <div>
        Once you have gotten your feedback accepted, you will recieve a point which
        you can use to raise one of your game's priority. Priority controls where
        your games appear in the game list, so if your games have higher priority,
        then they will appear at the top of the list. Select 'add or remove points'
        from the menu to apply points to your games, or reclaim ponts from your
        games.
    </div>
    <div>
        Every time that one of your games are playtested it will lose a point of
        priority, and fall lower in the search results. In order to keep your game
        at the top of the list you need to keep playtesting other users games.
    </div>
    <h3>Helping out</h3>
    <div>
        If you notice a bug, I want to know about it. You can help me by reporting
        it <a href="https://github.com/theTrueMikeBrown/PlaytestHub/issues">here</a>.
    </div>
    <div>
        If you want to donate money, there are two ways you can do that: to donate
        on a recurring basis, feel free to donate to my patreon page (linked in the
        lower left corner of the site). If you would prefer to send me money on a
        one time basis you can via Paypal here:
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="inlineForm">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="FXSJJMPH2XL6W">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
</div>