<h2>About PlaytestHub</h2>
<div>
    PlaytestHub was created by theTrueMikeBrown because he wanted a website
    that allowed people to playtest each other's games. The website strives to
    enable the fair playtesting of board games online, with players that help
    other players out getting the perk of placing their games higher on the 
    list than other player's games.
</div>
<h3>How to use PlaytestHub</h3>
<div>
    In the upper right you will notice a menu. This is where most actions on 
    the site can be taken. Hovering or longpressing on any icon button will
    tell you what it does.
</div>
<h4>To add a game</h4>
<div>
    To add a game to the database, click menu on the game list then add game.
    Fill out the info, and click the save button in the lower right corner.
</div>
<h4>To playtest a game</h4>
<div>
    To playtest a game, navigate to the game's page. Download all of the game's
    assets. Click menu and then click playtest. Wait for it to return you to
    the game list. Once it is done, you are now playtesting the game.
</div>
<div>
    Print up the parts of the game, play it at least once, and then go to the
    game list and select leave feedback. Fill out the form as completely as 
    possible, and then click submit at the bottom of the page.
</div>
<div>
    The moderator(s) will review your feedback, and if it is complete
</div>
