<h2>About PlaytestHub</h2>
<div>
    PlaytestHub was created by theTrueMikeBrown because he wanted a website
    that allowed people to playtest each other's games. The website strives to
    enable the fair playtesting of board games online, with players that help
    other players out getting the perk of placing their games higher on the 
    list than other player's games.
</div>
<h3>How to use PlaytestHub</h3>
<div>
    In the upper right you will notice a menu. This is where most actions on 
    the site can be taken.
</div>