<div id="list-component">
    <div *ngIf="message" class="message">{{message | async}}</div>

    <div class="upperLeft" *ngIf="user && unreadMessages">
        <a routerLink="/messages" class="action-button pulse" data-tooltip="New Unread Messages">
            <span class="fa fa-envelope-o"></span>
        </a>
    </div>
    <menu gameDetail="true"
          [playtesting]="playtesting"
          [canModerate]="canModerate"
          [moderateId]="moderateId"
          [feedbackId]="feedbackId"></menu>

    <h3>Games to playtest</h3>
    <div *ngFor="let game of games | async"
         (click)="gotoDetail(game.id)" class="search-result">
        <game-stats [game]="game"></game-stats>
    </div>
</div>
