<div style="text-align:center">
  <div *ngIf="!loggedIn">
    <h1>PlaytestHub</h1>
    <p>Please sign in.</p>
    <firebase-ui (signInSuccess)="successCallback($event)"></firebase-ui>
  </div>
  <div *ngIf="loggedIn">
    <div class="upperRight">
      <a class="upperRight-button" href="#" (click)="logout()" title="Log out, {{displayName}}">
        <span class="glyphicon glyphicon-log-out"></span>
      </a>
    </div>
    <h1>PlaytestHub</h1>
    <hr />
    <games-list></games-list>
  </div>
</div>
