<div style="text-align:center">
    <div>
        <h1>PlaytestHub</h1>
        <hr />
        <div class="outletHolder">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div class="lowerLeftHugger" title="Support me on Patreon!">
    <a id="llhAnchor" href="https://www.patreon.com/bePatron?u=3162666&redirect_uri=https%3A%2F%2Fplaytesthub.firebaseapp.com%2Fthanks&utm_medium=widget" style="line-height: 0;" title="Support me on Patreon!">
        <img src="assets/patreon.png" title="Support me on Patreon!" class="patreon-widget" style="position: static; visibility: visible; width: 177px; height: 35px;" />
    </a>
</div>
<div>
    <div *ngIf="user" class="loggedInStatus">
        <a class="info-button disabled" data-tooltip="Logged In">
            <span class="glyphicon glyphicon-lock"></span>
        </a>
    </div>
</div>

<div>
    <div *ngIf="!user" class="notLoggedInStatus">
        <a class="action-button" routerLink="/signIn" data-tooltip="Log In or Create Account">
            <span class="glyphicon glyphicon-log-in"></span>
        </a>
    </div>
</div>