<div id="list-component" *ngIf="loginInfo">
  <div class="upperRight">
    <span class="action-button">
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </span>
    <ul class="upperRight-buttons">
      <li class="upperRight-buttons__item">
        <a routerLink="/addgame" class="upperRight-buttons__link" data-tooltip="Add new game">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </li>
      <li class="upperRight-buttons__item">
        <a routerLink="/user/{{loginInfo.id}}/games" class="upperRight-buttons__link" data-tooltip="View my games">
          <span class="glyphicon glyphicon glyphicon-th-large"></span>
        </a>
      </li>
      <li class="upperRight-buttons__item">
        <a routerLink="/user/{{loginInfo.id}}/profile" class="upperRight-buttons__link" data-tooltip="View my profile">
          <span class="glyphicon glyphicon glyphicon-user"></span>
        </a>
      </li>
      <li class="upperRight-buttons__item">
        <a routerLink="/leaveFeedback" class="upperRight-buttons__link" data-tooltip="Leave Feedback">
          <span class="glyphicon glyphicon glyphicon-pencil"></span>
        </a>
      </li>
      <li class="upperRight-buttons__item">
        <a routerLink="/games"
           (click)="logout()"
           class="upperRight-buttons__link"
           data-tooltip="Log out">
          <span class="glyphicon glyphicon-log-out"></span>
        </a>
      </li>
    </ul>
  </div>

  <div *ngIf="message" class="message">{{message | async}}</div>

  <h4>Games to playtest</h4>
  <div *ngFor="let game of games | async"
       (click)="gotoDetail(game.id)" class="search-result">
    <game-stats [game]="game"></game-stats>
  </div>
</div>
