<div id="list-component">
  <div class="upperLeft">
    <a class="action-button" routerLink="/games">
      <span class="glyphicon glyphicon-home"></span>
    </a>
  </div>

  <div class="upperRight">
    <span class="action-button">
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </span>
    <ul class="upperRight-buttons">
    </ul>
  </div>

  <div *ngIf="message" class="messageDiv">
    <h3>Subject: {{message.subject}}</h3>
    <h5>
      From:
      <span *ngIf="!message.sender">{{senderName}}</span>
      <a *ngIf="message.sender" routerLink="/user/{{message.sender}}/profile">{{senderName}}</a>
    </h5>
    <h5>Date: {{message.sentDate | date:'shortDate' }}</h5>
    <div class="messageBox line-breaker">{{message.text}}</div>
  </div>

  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Sender</th>
          <th>Subject</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody><tr *ngFor="let m of messages | async"
            (click)="openMessage(m)" [ngClass]="['search-result', (message && m.id == message.id ? 'selected' : '')]"
            message-stats [message]="m"></tr></tbody>
    </table>
  </div>
</div>
