.line-breaker {
  white-space: pre-line;
}

#list-component {
  text-align: left;
}

.table-striped > tbody > tr.selected,
.table-striped > tbody > tr:nth-of-type(odd).selected {
  background-color: #8BF;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #ACB;
}

.messageBox {
  border: 1px black solid;
  background-color: #EEFFF8;
  padding: 1em;
}

.messageDiv {
  margin: 1em;
}

tbody:empty {
  position: relative;
}

  tbody:empty:before {
    color: #808080;
    content: "No messages.";
    display: block;
    margin-top: 5em;
    position: absolute;
    text-align: center;
    width: 100%;
  }