<div id="points-component" *ngIf="user">
    <div class="upperLeft">
        <a class="action-button" routerLink="/games" data-tooltip="Home">
            <span class="glyphicon glyphicon-home"></span>
        </a>
    </div>
    <menu applyPoints="true"></menu>
    <div *ngIf="message" [ngClass]="messageActive">{{message | async}}</div>

    <fieldset>
        <legend>Add or Remove Points</legend>
        <div class="form-group"><label>you have <span>{{user.points}}</span> points.</label></div>
        <div class="form-group">
            <label for="gameSelect">Game to add or remove points to or from:</label>
            <select id="gameSelect" class="form-control form-select" [(ngModel)]="selectedGame" (change)="gameSelected($event.target.value)">
                <option *ngFor="let game of games | async" value="{{game.id}}">{{game.name}}</option>
            </select>
        </div>
        <div class="form-group" *ngIf="selectedGameObj"><label>The game has <span>{{selectedGameObj.priority}}</span> points.</label></div>

        <div class="form-group" *ngIf="selectedGameObj">
            <label for="points">Number of points to add or remove:</label>
            <input id="points" class="form-control" [(ngModel)]="points" min="{{-selectedGameObj.priority}}" max="{{user.points}}" type="number" />
        </div>
    </fieldset>
    <div class="lowerRightBottom">
        <a class="action-button" (click)="applyPoints()" data-tooltip="Save Changes">
            <span [class.fa-spin]="this.saving" class="fa fa-save"></span>
        </a>
    </div>
</div>
