body {
  color: #082211;
  background-color: #DFE
}

.indent {
  margin-left: 1em;
}

.linky {
  font-size: 1.5em;
  margin: 1em;
}

.upperRight {
  position: absolute;
  width: 56px;
  right: 5px;
  top: 15px;
}

.lowerRightBottom {
  position: relative;
  width: 56px;
  margin-bottom: 56px;
  float: right;
}

.lowerRight {
  position: absolute;
  width: 56px;
  margin-bottom: 56px;
  right: 5px;
  bottom: 5px;
}

.lowerLeftHugger {
  position: fixed;
  left: 0;
  bottom: 0;
}

.upperLeft {
  position: absolute;
  width: 56px;
  left: 15px;
  top: 15px;
}

.action-button:hover {
  background-color: #1bf697;
  color: #142;
}

.action-button.inner-upper-right {
  position: absolute;
  right: 21px;
  top: 100px;
}

.action-button {
  position: absolute;
  top: 0;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #70feb6;
  color: #082211;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.28), 0 1px 5px 0 rgba(0, 0, 0, 0.24), 0 3px 1px -2px rgba(0, 0, 0, 0.4);
  font-size: 1.5em;
  padding-top: 0.37em;
  text-align: center;
}

  .action-button.inactive {
    background-color: #b6b6b6;
    color: #131313;
  }

  .action-button:hover.inactive {
    background-color: #b6b6b6;
    color: #131313;
  }

.upperRight:hover .upperRight-buttons {
  opacity: 1;
  visibility: visible;
}

.upperRight:hover .upperRight-buttons__link {
  transform: scaleY(1) scaleX(1) translateY(-16px) translateX(0px);
}

.action-button:hover + .upperRight-buttons .upperRight-buttons__link:before {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transform-origin: right center 0;
  transition-delay: 0.3s;
}

.upperRight-buttons {
  position: absolute;
  left: 0;
  right: 15px;
  top: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

.upperRight-buttons__item:first-child {
  margin-top: 25px;
}

.upperRight-buttons__item {
  display: block;
  text-align: center;
  margin: 12px 0;
}

.upperRight-buttons__link:hover {
  background-color: #1bf697;
  color: #142;
}

.upperRight-buttons__link {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-decoration: none;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transform: scaleY(0.5) scaleX(0.5) translateY(0px) translateX(0px);
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  padding-top: 10px;
  background-color: #70feb6;
  color: #082211;
}

[data-tooltip]:before {
  top: 50%;
  margin-top: -11px;
  font-weight: 600;
  border-radius: 2px;
  background: #585858;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 12px;
  text-decoration: none;
  visibility: hidden;
  opacity: 0;
  padding: 4px 7px;
  margin-right: 12px;
  position: absolute;
  transform: scale(0);
  right: 100%;
  white-space: nowrap;
  transform-origin: top right;
  transition: all .3s cubic-bezier(.25, .8, .25, 1);
}

[data-tooltip]:hover:before {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transform-origin: right center 0;
}

.icon-material {
  display: inline-block;
  width: 40px;
  height: 40px;
}

hr {
  border-top: .25em solid #142;
}

.left {
  text-align: left;
  margin: .5em;
}

.section {
  margin-top: 1em;
}

#feedbackForm ul {
  text-align: left;
  margin: .5em 0;
  padding-left: .5em;
}

#feedbackForm ul {
  display: flex;
  flex-wrap: wrap;
}

#feedbackForm li {
  margin: .5em;
  display: block;
}

#feedbackForm textarea {
  width: 100%;
}

#feedbackForm input {
  width: 100%;
}

.tooltipanchor {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

  .tooltipanchor .tooltiptext {
    visibility: hidden;
    width: 760%;
    background-color: #70feb6;
    color: #082211;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    left: -90px;
    font-size: .8em;
    padding-left: .25em;
  }

  .tooltipanchor:hover .tooltiptext {
    visibility: visible;
  }

.message {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  background: #142;
  color: #3C6;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black;
  animation-name: fadeAway;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeAway {
  from {
    top: 0em;
    opacity: 1;
  }

  to {
    top: -3em;
    opacity: 0;
  }
}
