@media (min-width:500px) {
    body {
        font-size: 1.5em;
    }
}

@media (min-width:490px) {
    .outletHolder {
        max-width: 35em;
        margin: 0 auto;
        padding-bottom: 1em;
    }

    .lowerLeftHugger {
        position: fixed;
        left: 0;
        bottom: 0;
    }

    .upperLeft {
        left: 50% !important;
        margin-left: -15.7em;
    }

    .upperRight {
        right: 50% !important;
        margin-right: -16.86em;
    }
}

@media (min-width:870px) {
    .lowerLeftHugger:not(:hover) {
        animation: none !important;
    }

    .lowerLeftHugger:hover {
        animation: none !important;
    }

    body {
        font-size: 1.6em;
    }
}

body {
    color: #082211;
    background-color: #DFE;
}

.outletHolder {
    text-align: left;
}

.indent {
    margin-left: 1em;
}

.internallyPadded * {
    margin: .5em;
}

.noPadding {
    margin: 0;
}

.line-breaker {
    white-space: pre-line;
}

.linky {
    font-size: 1.5em;
    margin: 1em;
}

.upperRight {
    position: absolute;
    width: 4em;
    right: 0.357142857em;
    top: 1.071428571em;
    z-index: 999;
}

.loggedInStatus {
    position: fixed;
    width: 4em;
    right: -1.571428571em;
    bottom: 3em;
    z-index: 999;
}

.lowerRightBottom {
    position: relative;
    width: 3.6em;
    margin-bottom: 4em !important;
    float: right;
}

.lowerLeftHugger {
    position: fixed;
    left: 0;
    bottom: 0;
}

    .lowerLeftHugger:hover {
        animation: llhr 0.1s;
        animation-fill-mode: forwards;
    }

    .lowerLeftHugger:not(:hover) {
        animation: llh 0.1s;
        animation-fill-mode: forwards;
    }

@keyframes llh {
    from {
        bottom: 0em;
    }

    to {
        bottom: -2em;
    }
}

@keyframes llhr {
    from {
        bottom: -2em;
    }

    to {
        bottom: 0em;
    }
}

.upperLeft {
    position: absolute;
    width: 4em;
    left: 1.071428571em;
    top: 1.071428571em;
}

.info-button {
    position: absolute;
    top: 0;
    display: block;
    width: 2.25em;
    height: 2.25em;
    background-color: transparent;
    color: #082211;
    font-size: 1.5em;
    padding-top: 0.37em;
    text-align: center;
}

    .info-button:hover {
        color: #122;
    }

    .info-button.disabled:hover, .info-button.disabled {
        color: #768f7f;
    }

.action-button:hover {
    background-color: #1bf697;
    color: #142;
}

.action-button {
    position: absolute;
    top: 0;
    display: block;
    width: 1.904761905em;
    height: 1.904761905em;
    background-color: #70feb6;
    color: #082211;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.28), 0 1px 5px 0 rgba(0, 0, 0, 0.24), 0 3px 1px -2px rgba(0, 0, 0, 0.4);
    font-size: 1.5em;
    padding-top: 0.37em;
    text-align: center;
}

    .action-button.inactive {
        background-color: #b6b6b6;
        color: #131313;
    }

    .action-button:hover.inactive {
        background-color: #b6b6b6;
        color: #131313;
    }

.upperRight:hover .upperRight-buttons {
    opacity: 1;
    visibility: visible;
}

.upperRight:hover .upperRight-buttons__link {
    transform: scaleY(1) scaleX(1) translateY(-16px) translateX(0px);
}

.action-button:hover + .upperRight-buttons .upperRight-buttons__link:before {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transform-origin: right center 0;
    transition-delay: 0.3s;
}

.upperRight-buttons {
    position: absolute;
    left: 0;
    right: 1.071428571em;
    top: 2.857142857em;
    list-style: none;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}

.upperRight-buttons__item:first-child {
    margin-top: 1.785714286em;
}

.upperRight-buttons__item {
    display: block;
    text-align: center;
    margin: 0.857142857em 0;
}

.upperRight-buttons__link.inactive {
    background-color: #b6b6b6;
    color: #131313;
}

.upperRight-buttons__link:hover.inactive {
    background-color: #b6b6b6;
    color: #131313;
}

.upperRight-buttons__link:hover {
    background-color: #1bf697;
    color: #142;
}

.upperRight-buttons__link {
    display: inline-block;
    width: 2.857142857em;
    height: 2.857142857em;
    text-decoration: none;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transform: scaleY(0.5) scaleX(0.5) translateY(0px) translateX(0px);
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    padding-top: 0.714285714em;
    background-color: #70feb6;
    color: #082211;
}

[data-tooltip]:before {
    top: 50%;
    margin-top: -0.75em;
    font-weight: 600;
    border-radius: 0.15em;
    background: #585858;
    color: #fff;
    content: attr(data-tooltip);
    font-size: .85em;
    text-decoration: none;
    visibility: hidden;
    opacity: 0;
    padding: 0.25em 0.5em;
    margin-right: 0.85em;
    position: absolute;
    transform: scale(0);
    right: 100%;
    white-space: nowrap;
    transform-origin: top right;
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
}

[data-tooltip]:hover:before {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transform-origin: right center 0;
    z-index: 100;
}

.upperLeft [data-tooltip]:before {
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    margin-left: .85em;
    left: 100%;
    right: unset;
    transform-origin: top left;
}

.upperLeft [data-tooltip]:hover:before {
    transform-origin: left center 0;
}

hr {
    border-top: .25em solid #142;
}

.left {
    text-align: left;
    margin: .5em;
}

.section {
    margin-top: 1em;
}

.tooltipanchor {
    position: relative;
    display: inline-block;
    border-bottom: 0.1em dotted black;
}

    .tooltipanchor .tooltiptext {
        visibility: hidden;
        width: 760%;
        background-color: #70feb6;
        color: #082211;
        padding: .35em 0;
        border-radius: .4em;
        position: absolute;
        z-index: 1;
        left: -6.4em;
        font-size: .8em;
        padding-left: .25em;
    }

        .tooltipanchor .tooltiptext.version {
            width: 450%;
            left: 0;
        }

    .tooltipanchor:hover .tooltiptext {
        visibility: visible;
    }

.message {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    background: #142;
    color: #3C6;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    animation-name: fadeAway;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeAway {
    from {
        top: 0em;
        opacity: 1;
    }

    to {
        top: -3em;
        opacity: 0;
    }
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.modal {
    background: rgba(0,0,0,0.6);
}

.fa {
    font-size: 1.25em;
}

.fa-edit {
    margin: .15em;
    margin-left: .25em;
}

.inlineForm {
    display: inline;
}

    .inlineForm input {
        height: 1em;
    }

.tldr div {
    margin-bottom: .5em;
    text-indent: 1em;
}

.tldr h1, .tldr h2, .tldr h3 {
    text-align: center;
}

.explanitory {
    color: #777;
    font-style: italic;
}


.fa-lock:before {
    content: "\f023"
}

.fa-unlock:before {
    content: "\f09c"
}

.fa-unlock-alt:before {
    content: "\f13e"
}

.form-control {
    height: 2.43em;
    padding: 0.43em 0.86em;
    font-size: 1em;
    border-radius: .25em;
}


.h1, h1 {
    font-size: 2em;
}

.h2, h2 {
    font-size: 1.5em;
}

.h3, h3 {
    font-size: 1.6em;
}

.h4, h4 {
    font-size: 1.4em;
}

.h5, h5 {
    font-size: 1.2em;
}

.h6, h6 {
    font-size: 12px
}

