<div class="addGame" *ngIf="game">
  <div class="upperLeft">
    <a class="action-button" routerLink="/games" data-tooltip="Discard Game">
      <span class="glyphicon glyphicon-trash"></span>
    </a>
  </div>

  <div class="left">
    <fieldset>
      <legend>Add Game</legend>
      <div class="form-group">
        <label for="gameName">Title:</label>
        <input class="form-control" id="gameName" [(ngModel)]="game.name">
      </div>
      <div class="form-group"><label for="gameMinPlayerCount">Min player count:</label><input type="number" class="form-control" id="gameMinPlayerCount" [(ngModel)]="game.minPlayerCount" min="0"></div>
      <div class="form-group"><label for="gameMaxPlayerCount">Max player count:</label><input type="number" class="form-control" id="gameMaxPlayerCount" [(ngModel)]="game.maxPlayerCount" min="0"></div>
      <div class="form-group"><label for="gameMinTimeInMinutes">Min time in minutes:</label><input type="number" class="form-control" id="gameMinTimeInMinutes" [(ngModel)]="game.minTimeInMinutes" min="0"></div>
      <div class="form-group"><label for="gameMaxTimeInMinutes">Max time in minutes:</label><input type="number" class="form-control" id="gameMaxTimeInMinutes" [(ngModel)]="game.maxTimeInMinutes" min="0"></div>
      <div class="form-group"><label for="gameDescription">Description:</label><textarea class="form-control" id="gameDescription" [(ngModel)]="game.description"></textarea></div>
      <div class="form-group"><label for="gameComponents">Components:</label><textarea class="form-control" id="gameComponents" [(ngModel)]="game.components"></textarea></div>
      <div class="form-group">
        <h4>Files:</h4>
        <div class="detailBox">
          <div><label for="gameRulesUrl">Rules file:</label><input class="form-control" id="gameRulesUrl" [(ngModel)]="game.rulesUrl"></div>
          <div><label for="gamePnpUrl">PNP File:</label><input class="form-control" id="gamePnpUrl" [(ngModel)]="game.pnpUrl"></div>
        </div>
      </div>
      <div class="form-group"><label for="gameActive"><input class="form-check" id="gameActive" type="checkbox" name="isActive" [(ngModel)]="game.active"/> Is Active</label></div>
      <div class="form-group"><label for="gamePRiority">Priority</label><input class="form-control" disabled [ngModel]="game.priority" /></div>
    </fieldset>
  </div>
  <div class="lowerRightBottom">
    <a class="action-button" (click)="addGame()" data-tooltip="Save Game">
      <span class="glyphicon glyphicon-floppy-disk"></span>
    </a>
  </div>
</div>