<div class="details" *ngIf="game">
    <div class="upperLeft">
        <a class="action-button" routerLink="/games" data-tooltip="Home">
            <span class="glyphicon glyphicon-home"></span>
        </a>
    </div>

    <menu [game]="game" 
          [alreadyPlaytesting]="alreadyPlaytesting"
          [alreadyPlaytestedVersion]="alreadyPlaytestedVersion"
          [feedbackExists]="feedbackExists"
          [feedbackId]="feedbackId"
          (playtestGame)="playtestGame()"
          [playtestingWait]="playtesting"
          (deleteGame)="deleteGame()"
          [deletingWait]="deleting"
          (undeleteGame)="undeleteGame()"
          [undeletingWait]="undeleting"
          ></menu>
    <h3>{{game.name}}</h3>
    <div>
        <span class="info">{{game.minPlayerCount}}-{{game.maxPlayerCount}} players, {{game.minTimeInMinutes}}-{{game.maxTimeInMinutes}} minutes</span>
    </div>
    <h4 *ngIf="owner">
        by:
        <span class="glyphicon glyphicon-user"></span>
        <a routerLink="/user/{{game.owner}}/profile">{{owner.displayName}}</a>
    </h4>
    <div class="left">
        <div>
            <h4>Description:</h4>
            <div class="detailBox line-breaker">{{game.description}}</div>
        </div>
        <div>
            <h4>Components:</h4>
            <div class="detailBox line-breaker">{{game.components}}</div>
        </div>
        <div>
            <h4>Files:</h4>
            <div class="detailBox">
                <div *ngIf="game.rulesUrl && game.rulesUrl !== 'http://undefined'" class="info"><a href="{{game.rulesUrl}}" target="_blank">Rules file</a></div>
                <div *ngIf="game.pnpUrl && game.pnpUrl !== 'http://undefined'" class="info"><a href="{{game.pnpUrl}}" target="_blank">PNP file</a></div>
                <div *ngIf="game.websiteUrl && game.websiteUrl !== 'http://undefined'" class="info"><a href="{{game.websiteUrl}}" target="_blank">Website Url</a></div>
                <div *ngIf="(!game.pnpUrl || game.pnpUrl === 'http://undefined') && (!game.rulesUrl || game.rulesUrl === 'http://undefined') && (!game.websiteUrl && game.websiteUrl === 'http://undefined')"
                     class="explanitory">none yet</div>
            </div>
        </div>
    </div>
    <div><h4>Version: {{game.version}}</h4></div>
    <div><h4>Priority: {{game.priority}}</h4></div>
    <div><h4>Active: {{game.active}}</h4></div>
</div>
